@model AspNet_Task.Web.Data.Models.Product

<div class="product-card">
    <img src="@Model.ImageUrl" alt="Product Image" />
    <div class="product-details">
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
        <p>Price: @Model.Price SEK</p>
        <a href="/products/details/@Model.Id" class="btn btn-primary">Buy Now</a>
    </div>
</div>